* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, Arial, sans-serif;
}

#root {
  height: max-content;
  min-height: 100vh;
}

.light {
  --bg: #f5f6fa;
  --card: #ffffff;
  --text: #1e1e1e;
  --border: #e2e2e2;
  height: max-content;
  min-height: 100vh;
}

.dark {
  --bg: #18181b;
  --card: #222227;
  --text: #f1f1f1;
  --border: #3b3b45;
  height: max-content;
  min-height: 100vh;
}

body,
html,
.layout {
  width: 100%;
  height: max-content;
  min-height: 100vh;
  background: var(--bg);
  color: var(--text);
}

.main {
  width: 100%;
}

.layout {
  display: flex;
}
