.header {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--card);
  padding: 0 20px;
  border-bottom: 1px solid var(--border);
  position: sticky;
  top: 0;
  z-index: 10;
  margin-left: 240px;
}

.search {
  width: 260px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid var(--border);
  background: transparent;
  color: var(--text);
}

.header-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.theme-toggle {
  background: none;
  border: 1px solid var(--border);
  padding: 8px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--text);
}

.profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.avatar,
img {
  width: 35px;
  height: 35px;
  background: gray;
  border-radius: 50%;
}

.mobile-menu-btn {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--text);
}

@media (max-width: 900px) {
  .header {
    margin-left: 0;
  }
  .mobile-menu-btn {
    display: block;
    margin-right: 10px;
  }
}
